<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-css/bootstrap.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="jquery/jquery.js"></script>
    <title>Forget Password</title>
</head>

<body>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <!-- STATUS -->
            {{#if status}}
                <div class="{{class}}">{{status}}</div>
            {{/if}}
            <!-- ALERT BOX-->
            <div class="alert alert-danger" id="fail-status" hidden>
                Oops, something went wrong. Try again !
            </div>
            
            <!-- EMAIL BOX START -->
            <div id="email-box">
                <div class="form-group">
                    <label>Enter your email address : </label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Enter your email"><br>
                </div>
                <button onclick="sendOtp()" id="email-button" class="btn btn-primary">Send OTP</button>
            </div>
            <!-- EMAIL BOX END-->

            <!-- OTP BOX START-->
            <div id="otp-box" hidden>
                <div class="alert alert-success">
                    OTP is sent to your registered email address !
                </div>
                <form action="/validate-otp" method="POST">
                    <div class="form-group">
                        <label>Enter six digit otp sent to your email : </label>
                        <input class="form-control" type="text" name="otp" id="otp" placeholder="Enter your otp"
                            required autocomplete="off"><br>
                    </div>
                    <button type="submit" class="btn btn-primary">submit</button>
                </form>
            </div>
            <!-- OTP BOX END-->

        </div>
        <div class="col-md-3"></div>
    </div>
</body>


<script>

    const sendOtp = () => {
        const url = "http://localhost/send-otp";
        let formData = {
            emailTo: $('#email').val()
        }
        fetch(url, {
            method: 'POST',
            body: new URLSearchParams(formData),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        }).then((result) => {
            return result.json();
        }).then((data) => {
            // success code
            if(data.status == true){
                $('#email-box').hide();
                $('#otp-box').removeAttr('hidden');
            } 
            // fail code
            else {
                $('#fail-status').removeAttr('hidden');
            }
        }).catch((err) => {
            // error code
        });

    }


</script>

</html>